.display {
    margin: 50px 20px 20px;
    color: rgb(240,236,227);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.display__warm {
    background: linear-gradient(rgba(0,0,0,0), rgba(240, 210, 144, 0.8));
}

.display__cold {
    background: linear-gradient(rgba(0,0,0,0), rgba(201, 204, 213, 1));
}

.city {
    font-size: 30px;
}

.temperature {
    font-size: 55px;
}

.description {
    font-size: 30px;
}

.display-icon {
    font-size: 80px;
    margin: 10px;
}