@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left top, rgba(255,0,0,.8), rgba(255,0,0,0));
}

.App {
  text-align: center;
}