@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__warm {
  background: linear-gradient(to left top, rgba(240, 210, 144, 0.2) 80%, rgba(222, 131, 77, 0.8) 20%),
  linear-gradient(to right top, rgba(240, 210, 144, 0.2) 60%, rgba(222, 131, 77,0.8) 40%);
}

.app__cold {
  background: linear-gradient(to left top, rgba(255, 227, 227, 0.2) 80%, rgba(201, 204, 213, 0.8) 20%),
  linear-gradient(to right top, rgba(255, 227, 227, 0.2) 60%, rgba(201, 204, 213, 0.8) 40%);
}

.main-display {
  text-align: center;
  width: 380px;
  margin-top: -110px;
  padding: 0 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.main-display__warm {
  background-color: rgba(120,29,66, 0.8);
}

.main-display__cold {
  background-color: rgba(147, 181, 198, 0.9);
}